.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 5px -5px #020200;
  background-color: rgb(55, 163, 167);
  border-radius: 10px;
}

.headerFont {
  font-size: 20px;
}

.UserMenu {
  display: flex;
  align-items: center;
}

.UserMenu img {
  margin-right: 10px;
}

.navigation {
  display: flex;
}

.navigation li {
  margin-right: 20px;
  padding-left: 20px;
}
